<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="https://github.com/JesperLeoMoberg/Node.js_Express/blob/master/image/favicon.png?raw=true">
    <title>Jesper Leo Moberg</title>
</head>
<body class="col-10 mx-auto">
  <div class="backgorund-color" style="height:100%;background-color:#ffff;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
      <a class="navbar-brand" href="https://github.com/JesperLeoMoberg/Node.js_Express">
      <svg id="Lag_1" data-name="Lag 1" style="position: relative;display: inline-block;padding-top: .3125rem;padding-bottom: .3125rem;margin-right: 1rem;font-size: 1.25rem;line-height: inherit;white-space: nowrap;height: auto;width: 4em;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><defs><style>.cls-1{fill:#00a99d;}.cls-2{fill:#333;}</style></defs><title>L-logo</title><path class="cls-1" d="M0,673.38l70,47.51,411,279.11c83.94-3.58,168.17-6,252.42-8L268.94,676.59l.13,3.86L75.26,683.84l-2-60.15Z"/><path class="cls-2" d="M743.34,991.75c85.66-2,171.31-3.46,256.66-5.13L492.87,642.22l1.06,32.34L300.11,678l-5.58-170.43L262.7,485.9l6,183.52Z"/><polygon class="cls-2" points="121.6 576.53 258.98 483.38 262.69 485.9 246.9 3.62 53.09 7.01 72.16 589.27 73.29 623.68 132.21 583.73 121.6 576.53"/><polygon points="137.37 580.23 132.21 583.73 268.94 676.59 268.71 669.42 137.37 580.23"/><polygon class="cls-1" points="471.83 0 278.02 3.39 294.53 507.52 492.87 642.22 471.83 0"/></svg>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarsExample08">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <form id="login-form" name="LogoutForm" action="/users/logout" method="get">
              <div class="text-center">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Logout</button>
              </div>
            </form>
          </li>
        </ul>
      </div>
    </nav>

    {{{body}}}

    <footer class="page-footer font-small bg-light rounded">
      <div class="footer-copyright text-center py-2 text-dark">
        <a class="text-dark">Made in Denmark</a>
      </div>
      <div class="footer-copyright text-center py-1 text-dark">
        <a class="text-dark" >Find project on:</a>
        <a href="https://github.com/JesperLeoMoberg/Node.js_Express" target="blank">GitHub</a>
      </div>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
