<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Index</li>
  </ol>
</nav>
<a href="https://www.relateit.dk/"><img src="https://www.relateit.dk/wp-content/themes/wordpress-bootstrap-master/images/RelateIT_logo_ebsite_farve.png" /></a>
<div class="col-md-12" style="text-align:center;margin-top:50px;margin-bottom:50px;">
  <div class="list-group col-md-4" style="display:inline-block;">
    <a href="api/posts" class="list-group-item list-group-item-action">Se alle posts</a>
    <a href="api/posts/1" class="list-group-item list-group-item-action">Se posten med id <span class="badge badge-primary badge-pill">1</span></a>
    <a href="api/posts/count" class="list-group-item list-group-item-action">Se hvor mange posts der er lavet</a>
    <a href="api/users/1" class="list-group-item list-group-item-action">Se posts fra brugeren med userId <span class="badge badge-primary badge-pill">1</span></a>
    <a href="api/users/count" class="list-group-item list-group-item-action">Se hvor mange forskellige brugere der er</a>
  </div>
</div>
<style>.heart{color:#e25555;}</style>
<p style="color:#878787;">
  Made with <span class="heart">❤</span> in Denmark
</p>
<a href="https://www.relateit.dk/"><img src="https://www.relateit.dk/wp-content/themes/wordpress-bootstrap-master/images/RelateIT_Logo_Symbol_dark.png" style="margin:.75rem;" /></a>
<div class="col-md-12" style="padding:.75rem 1rem;border-radius:.25rem;background-color:#e9ecef;">
  <a href="" style="font-size:.75rem;">Project hosted with <span class="heart">❤</span> by GitHub</a>
</div>
