<div class="col-md-12" style="text-align:center;margin-top:50px;margin-bottom:50px;">
  <div class="list-group col-md-4" style="display:inline-block;">
    {{#if message}}
      <div class="alert alert-warning alert-alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {{/if}}
      <svg id="Lag_1" class="mt-2 mb-5" data-name="Lag 1" style="position: relative;display: inline-block;padding-top: .3125rem;padding-bottom: .3125rem;margin-right: 1rem;font-size: 1.25rem;line-height: inherit;white-space: nowrap;height: auto;width: 10em;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><defs><style>.cls-1{fill:#00a99d;}.cls-2{fill:#333;}</style></defs><title>L-logo</title><path class="cls-1" d="M0,673.38l70,47.51,411,279.11c83.94-3.58,168.17-6,252.42-8L268.94,676.59l.13,3.86L75.26,683.84l-2-60.15Z"/><path class="cls-2" d="M743.34,991.75c85.66-2,171.31-3.46,256.66-5.13L492.87,642.22l1.06,32.34L300.11,678l-5.58-170.43L262.7,485.9l6,183.52Z"/><polygon class="cls-2" points="121.6 576.53 258.98 483.38 262.69 485.9 246.9 3.62 53.09 7.01 72.16 589.27 73.29 623.68 132.21 583.73 121.6 576.53"/><polygon points="137.37 580.23 132.21 583.73 268.94 676.59 268.71 669.42 137.37 580.23"/><polygon class="cls-1" points="471.83 0 278.02 3.39 294.53 507.52 492.87 642.22 471.83 0"/></svg>
    <a href="api/posts" class="list-group-item list-group-item-action m-1">Se alle posts</a>
    <a href="api/posts/1" class="list-group-item list-group-item-action m-1">Se posten med id <span class="badge badge-primary badge-pill">1</span></a>
    <a href="api/posts/count" class="list-group-item list-group-item-action m-1">Se hvor mange posts der er lavet</a>
    <a href="api/users/1" class="list-group-item list-group-item-action m-1">Se posts fra brugeren med userId <span class="badge badge-primary badge-pill">1</span></a>
    <a href="api/users/count" class="list-group-item list-group-item-action m-1">Se hvor mange forskellige brugere der er</a>
  </div>
</div>
